<div id="<%= dom_id variant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= variant.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Game:</strong>
    <%= variant.game_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Expansion:</strong>
    <%= variant.expansion_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= variant.priority %>
  </div>
</div>
